body {
	padding-top: 70px;
	font-size: 16px;
	background-color: #DFDFE1;
}

body,
button,
input,
select,
textarea {
	font: 12px/1.5 "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, "\5B8B\4F53"
}

.navbar-nav li a{
	line-height: 30px;
	margin-right: 30px;
    color: #c8c8c8;
    font-size: 16px;
}


.box {
	margin-top: 80px;
}

.row.loginregister {
	background-color: #FFFFff;
	border-radius: 6px;
	padding: 30px 0px 50px;
}


/*.row div.ibox {
	margin-top: 50px;
}*/

.row div.ibox h1 {
	text-align: center
}

.row div.ibox form {
	margin-top: 33px;
}

.verificationcode {
	width: calc(100% - 156px);
	display: inline-block;
}

footer {
	padding-top: 100px;
}

.form-control {
	height: 50px;
}

.code img {
	vertical-align: middle;
	border: 0;
}

.code button {
	height: 50px;
}

.ibutton {
	text-align: center;
}

.ibutton button {
	width: 50%;
	display: inline-block;
	border-radius: 50px;
	margin-top: 20px;
}

.agreement {
	padding-top: 10px;
	color: #0085e5;
}

.btn-primary.focus,
.btn-primary:focus {
	color: #fff;
	background-color: #286090;
	border-color: #122b40
}

.btn-primary:hover,
.btn-primary.active,
.btn-primary.active:focus,
{
	border: 0;
}
.boxlist{
	margin-top: 50px;
}

.boxlist .pic {
	background-color: #FFFFff;
	/*display: inline-block;*/
	padding: 15px 0;
	/*box-shadow: 2px 2px 2px #e2dede;*/
	border-radius: 5px;
	margin-bottom: 30px
}

.boxlist .pic>div {
	margin-bottom: 10px;
}

.boxlist .pic img {
	width: 100%;
}

.boxlist .word {
	float: left;
}

.boxlist .title p {
	background-color: #0daaea;
	display: inline-block;
	font-size: 16px;
	color: #fff;
	height: 34px;
	line-height: 34px;
	padding: 0 9px;
	border-radius: 5px;
}

.boxboxlist .pic .title .smalltitle {
	font-size: 16px;
	line-height: 30px;
	font-weight: 700;
	display: block;
}

.boxlist .title div {
	overflow: hidden;
}

.boxlist .title div a {
	font-size: 12px;
	line-height: 16px;
	display: block;
	height: 16px;
	float: right;
}

.boxlist div .content{
	padding-top: 15px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;/* 这儿的数字代表的就是你所需要实现效果的第N行  */
    -webkit-box-orient: vertical;
} 

.boxlist .pagenum{
	background-color: #FFFFff;
	line-height: 1.42857143;
	height: 36px;
	border-radius: 5px;
	padding: 9px;
}

.pagination {
	margin: 0px 0;
	font-size: 16px;
	float: right;
	margin-right: -15px;
}

.contentbox .breadcrumb{
	font-size: 20px;
	background-color: #FFFFFF;
}

.container .contentbox{
	background-color: #FFFFFF;
	margin-top: 38px;
}

/**
 * 文章管理页面的样式
 * */
.navbar .container .navbar-header>a{
	line-height: 30px;
    margin-right: 30px;
    color: #c8c8c8;
    font-size: 25px;
}

.container .managecontentbox .row{
	padding-top:30px;
	/*background-color: #FFFFff;*/
}
.container .managecontentbox .usercontent {
	
	border-radius: 5px;
    height: 270px;
    padding-top: 28px;
	background-color: #FFFFff;
}

.container .managecontentbox .articlecontent {
	
	border-radius: 5px;
    height: 970px;
    padding-top: 28px;
	background-color: #FFFFff;
}

.container .articlecontent .articlelist_item {
	
	padding: 0px 20px 15px;
	background: #fff;
	
}

.container .articlecontent .article_content{
	text-indent: 25px;
    width: 500px;
	padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .articlecontent .clear {
	border-bottom: 1px dashed #000;
    margin-top: 20px;
}

.container .managecontentbox .usercontent .clear {
	border-bottom: 1px dashed #000;
    margin-top: 20px;
}

.container .managecontentbox .usercontent .addArticle {
	margin-top: 15px;
    float: right;
}

.container .articlecontent .articlemanage {
	margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    color: #999;
}

.container .articlecontent .articlemanage>span {
	margin-right: 16px;
}

.container .articlecontent .articlemanage .link_view {
	background-image: url("../img/skin-type-icon.png");
	background-repeat: no-repeat;
	background-position: 0 -25px;
	padding-left: 24px;
}

.container .articlecontent .articlemanage .link_comments {
	
	background-image: url("../img/skin-type-icon-yellow.png") !important;
	background-repeat: no-repeat;
	background-position: 0 -43px;
	padding-left: 17px;
}

.container .articlecontent .pagelist .pagination {
	margin-right: 30px;
}

.container .articlecontent .pagelist .pagetotal {
	
	padding-top: 8px;
    position: fixed;
    padding-left: 28px;
    font-size: 14px;
}

#navbar .headlogin {
	
	float: right;
    margin-top: 15px;
	
}

#navbar .loginimg .userimg {
	margin-top: 16px;
}

#navbar .loginimg img {
	background: #fff;
	border-radius: 50%;
	border: 2px solid #c9c9c9;
	vertical-align: middle;
	margin-right: 5px;
	width: 28px;
	height: 28px;
}

.container .managecontentbox .row .userinfo {
	margin-top: -7px;
    background: #f5f5f5;
    height: 29px;
    line-height: 29px;
    padding-left: 11px;
    color: #333;
    font-weight: bold;
}

.container .managecontentbox .blog_userface {
	text-align: center;
	margin-left: 80px;
    margin-top: 20px;
    background-image: url("../img/figurehead.png");
    background-position: 50%;
	background-repeat: no-repeat;
	background-color:#dcdcdc ;
	width: 104px;
	height: 104px;
	left: 11px;
	top: 11px;
	border-radius: 50% 50% 50% 50%;
	overflow: hidden;
}

.container .managecontentbox .blog_username {
	text-align: center;
	margin-top: 10px
}



/*mob*/

@media only screen and (max-width: 768px) {
	.row.pic {
		margin: 0px;
		margin-bottom: 30px;
	}
	.box {
		margin-top: 10px;
	}
}