body {
	padding-top: 70px;
	font-size: 16px;
	background-color: #DFDFE1;
}

body,
button,
input,
select,
textarea {
	font: 12px/1.5 "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, "\5B8B\4F53"
}

.navbar-nav li a{
	line-height: 30px;
	margin-right: 30px;
    color: #c8c8c8;
    font-size: 16px;
}


.box {
	margin-top: 80px;
}

.row.loginregister {
	background-color: #FFFFff;
	border-radius: 6px;
	padding: 30px 0px 50px;
}


/*.row div.ibox {
	margin-top: 50px;
}*/

.row div.ibox h1 {
	text-align: center
}

.row div.ibox form {
	margin-top: 33px;
}

.verificationcode {
	width: calc(100% - 156px);
	display: inline-block;
}

footer {
	padding-top: 100px;
}

.form-control {
	height: 50px;
}

.code img {
	vertical-align: middle;
	border: 0;
}

.code button {
	height: 50px;
}

.ibutton {
	text-align: center;
}

.ibutton button {
	width: 50%;
	display: inline-block;
	border-radius: 50px;
	margin-top: 20px;
}

.agreement {
	padding-top: 10px;
	color: #0085e5;
}

.btn-primary.focus,
.btn-primary:focus {
	color: #fff;
	background-color: #286090;
	border-color: #122b40
}

.btn-primary:hover,
.btn-primary.active,
.btn-primary.active:focus,
{
	border: 0;
}
.boxlist{
	margin-top: 50px;
}

.boxlist .pic {
	background-color: #FFFFff;
	/*display: inline-block;*/
	padding: 15px 0;
	/*box-shadow: 2px 2px 2px #e2dede;*/
	border-radius: 5px;
	margin-bottom: 30px
}

.boxlist .pic>div {
	margin-bottom: 30px;
}

.boxlist .pic img {
	width: 100%;
}

.boxlist .word {
	float: left;
}

.boxlist .title p {
	background-color: #0daaea;
	display: inline-block;
	font-size: 16px;
	color: #fff;
	height: 34px;
	line-height: 34px;
	padding: 0 9px;
}

.boxboxlist.title a {
	font-size: 16px;
	line-height: 30px;
	font-weight: 700;
	display: block;
}

.boxlist .title div {
	overflow: hidden;
}

.boxlist .title div a {
	font-size: 12px;
	line-height: 16px;
	display: block;
	height: 16px;
	float: right;
}

.pagination {
	margin: 0px 0;
	font-size: 16px;
	float: right;
	margin-right: -15px;
}

.contentbox .breadcrumb{
	font-size: 20px;
	background-color: #FFFFFF;
}

.container .contentbox{
	background-color: #FFFFFF;
	margin-top: 38px;
}




/*mob*/

@media only screen and (max-width: 768px) {
	.row.pic {
		margin: 0px;
		margin-bottom: 30px;
	}
	.box {
		margin-top: 10px;
	}
}